body {
  background-color: #110815;
  color: #ffffff;
}

h1, p {
  text-align: center;
}

button {
  display: block;
  margin: 2rem auto;
  border: 4px solid #FEAC32;
  background-color: #FEC849;
  width: 150px;
  font-size: 11px;
  padding-bottom: 10px;
  padding-top: 10px;
}
